# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env.local`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# local
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Image upload settings
# =====================
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_ASSETS_FOLDER=xmdb

# Auth settings
# =============
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Database settings
# =================
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# -----------------------------------------------------------------------------
# Database (Vercel Storage - Postgres)
# -----------------------------------------------------------------------------
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# -----------------------------------------------------------------------------
# Database (PlanetScale / Supabase)
# Enable if you are not using Vercel Postgres
# -----------------------------------------------------------------------------
# DATABASE_URL=
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/xmdb/database?schema=public"

